doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/Sass/index.css")
        title Document
    body 
        header 
            .header 
                p  Serving Quality
            .header__right 
                img(src="/assets/img/Vector.png", alt="")
            .header__left 
                h1 We at Gericth are serving our customers <br> for over a decade.
            .header__paragh 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis pharetra adipiscing ultrices vulputate posuere <br> tristique. In sed odio nec aliquet eu proin mauris et.
            .header__button--three 
                .header__button 
                    button Read More 
                .header__button--two 
                    button Contact Us

            .hour 
                img(src="/assets/img/soat.png", alt="")
        main 
            .main 
                //- img(src="/assets/img/Menu.png", alt="")
            

