doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/sass/index3.css")
        title Document
    body 
    
    section.section3 
        nav.nav 
            .big__yozuv 
                h1 GERICHT
                ul 
                    li Pages
                    li Home 
                    li Contacts Us
                    li Blog 
                    li Larding
                h3 Login in / Registration    |     Book Table 
        .hero 
            img(src="/amir.png", alt="")
        img.karta(src="https://s3-alpha-sig.figma.com/img/d3bf/7535/34c59c43a5a9e0888bc500893f1fd089?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mkJiAHvrUF9eK3DPYmkhMJlJxdYyBOUqbMoJfqya4M0eSR9kx7SM72CUpHidyqvY8Q-jgbakM7lF-uc34yhQT1R1ww2mo6~3fIMFX5nC5nTCUS6WdM8GCJHCRn5rXfX0u-22NhPb7cVXxNwJ9xPGVFyAsBDJW5oX0aDyW0LB69s8N4R88iyjN2iXVjrtYhwEkTOHmoyxg9UNwIR2tgDn1b01yH8EjjfJB5ZOj2ytr6e4AXL6PUkhC1ySGVldEm~ortYnXyaWCMtJPKS8oUraoRpez4CJUDSe2uU1hrygr6r~r-xtxaXuGPPfzu9oeyIK0xVsHuRhCw9QYxUkf43RXA__", alt="")
        .email 
            input(type="text" placeholder="Full Name")
            label(for="#")   
            input(type="text" placeholder="Email Address")
            label(for="#")   
            input.katta__input(type="text" placeholder="Message")
            label(for="#")   
            button Subscribe
        .rasm 
            img.input__img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR8-GjMZ5HzIG7rO2K0zarCtnUd30UCpUW4kVlhQ8Uxs7x_4rF", alt="")